# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
Game/lib/Basilisk-GE.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# IDE
.idea
.vs


# VCX 
*.vcxproj.user

Engine/obj/
Engine/bin/
Game/obj/
Game/bin/
Game/lib/Basilisk-GE.lib

Game/lib/.void

Game/lib/include/Basilisk/glm/
